container_commands:
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 /var/app/current/src/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 /var/app/current/src/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 /var/app/current/src/manage.py collectstatic --noinput"
  04_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "comfrtshop.settings"
    "PYTHONPATH": "./src"
    "LOCAL_DB_PASS": "x"
    "AWS_S3_REGION_NAME": "eu-central-1"
    "AWS_STORAGE_BUCKET_NAME": "comfrtshop"
    "AWS_ACCESS_KEY_ID": "AKIA4IYRTC2LCHJPPIHW"
    "AWS_SECRET_ACCESS_KEY": "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"
    "CDN": "dvypnsdccqka0.cloudfront.net"
    "PAYSAFE_ACCOUNT_ID": "1001969460"
    "PAYSAFE_AUTH_TOKEN": "dGVzdF9vbWFyYmFzZW06Qi1xYTItMC02MDQ0NzhlMS0wLTMwMmQwMjE0MmUxYTUzMjJiYjY0ZDI3NDJiMDI3YTQ2YTczM2YxZWFmOTZiMzU0ODAyMTUwMDhkOGQyZDhmMWNlNmRhOWRjMGVhZWNkZDYxZmI1OThmYjVkYTJiYzk="
  "aws:elasticbeanstalk:container:python":
    WSGIPath: src.comfrtshop.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    "/static/": "www/static/"